:host {
    display: block;
}

.header {
    min-height: 100vh;
    position: relative;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header__content-images {
    text-align: center;
    padding-bottom: 50px;
}

.header__content-images::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(100deg, #CADBEB 0%, rgba(235, 235, 235, 0.00) 100%);
    z-index: -2;
}

.title {
    font-size: 210px;
    font-weight: 700;
    position: absolute;
    padding-top: 110px;
}

.title--air {

}

.title--pod {
    position: relative;
    z-index: -1;
}

.title--s {
    display: inline-block;
    transform: translateY(60px);
}

.title--m {
    display: inline-block;
    transform: translate(-57px, 275px);
}

.title--ax {
    position: relative;
    display: inline-block;
    transform: translate(-128px, 413px);
    z-index: -1;
}
