<header class="header">
    <div class="container">
        <div class="header__top">
            <a class="logo" href="#">
                <img src="assets/images/logo.svg" alt="">
            </a>

            <app-navigation></app-navigation>
        </div>
        <div class="header__content">
            <h1 class="title">
                <span class="title--air img">Air</span>
                <span class="title--pod img">Pod</span>
                <span class="title--s img">S</span>
                <span class="title--m img">M</span>
                <span class="title--ax img">AX</span>
            </h1>

        </div>
        <div class="header__content-images">
            <!-- <img src="assets/images/airpods-black.png" alt="">
            <img src="assets/images/airpods-green.png" alt="">
            <img src="assets/images/airpods-white.png" alt="">
            <img src="assets/images/airpods-red.png" alt=""> -->
            <img src="assets/images/airpods-blue.png" alt="">
        </div>
    </div>
</header>
