<main class="main">
    <section class="choose-color">
        <div class="container">
            <h3 class="choose-color--title">Choose your color</h3>
            <p class="choose-color-text">
                The perfect balance between the purityof hi‑fi and the magic of AirPods.
                The ultimate personal audio experience.</p>
        </div>

        <div class="choose-color-list">
            <button>
                <img src="assets/images/airpods-btn-black.png" alt="">
            </button>
            <button>
                <img src="assets/images/airpods-btn-white.png" alt="">
            </button>
            <button>
                <img src="assets/images/airpods-btn-green.png" alt="">
            </button>
            <button>
                <img src="assets/images/airpods-btn-red.png" alt="">
            </button>
        </div>
    </section>
</main>