<section class="composition">
    <div class="container">
        <h2 class="composition__title main__title">An extremely original composition.</h2>
        <p class="composition__text">
            Introducing the reinvention of over-the-ear headphones. From the cushion to the headband, the AirPods Max are designed with acoustic insulation in mind, adapted to many head shapes, so you can immerse yourself in the purity of sound.
        </p>

        <div class="composition__inner">
            <div class="composition__inner-text">
                <p>
                    The headband is made of breathable mesh, distributing the weight to reduce pressure on the head.
                </p>
                <p>
                    The stainless steel structure is wrapped in a soft-touch material to provide a remarkable harmony between resistance, flexibility and comfort.
                </p>
                <p>
                    The telescoping arms expand and stay in any position you want, allowing you to maintain fit and isolation.
                </p>
            </div>
            <img src="assets/images/side-blue.jpg" alt="">
            <!-- <img src="assets/images/side-black.jpg" alt="">
            <img src="assets/images/side-white.jpg" alt="">
            <img src="assets/images/side-green.jpg" alt="">
            <img src="assets/images/side-red.jpg" alt=""> -->
        </div>
    </div>
</section>
