html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Inter", sans-serif;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
}

.main { }

.main__title {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}

@media(max-width: 770px) {
    .main__title {
        font-size: 36px;
    }
} 

@media(max-width: 414px) {
    .main__title {
        font-size: 28px;
    }
}
